# Dependencies & Build
node_modules/
dist/
build/
coverage/

# Environment and Secret Configurations
.env
.env.*
*.env
!.env.example
!.env.template

# Sensitive Credentials, Keys, & Certificates
*.pem
*.key
*.pkcs12
*.pfx
*.p12
id_rsa*
id_ecdsa*
id_ed25519*
*.cer
*.crt
*.p8
credentials
credentials.csv
*.secret
*.secrets
*secret*.yaml
*secrets*.yaml
!K8s/secrets.yaml

# Cloud & Kube configs
.aws/
kubeconfig
kubeconfig*
*.kubeconfig

# Terraform state & cache
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.json
*secret*.tfvars
*secrets*.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
[._]terraform.tfstate.lock.info

# Logs & Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/
.vs_code/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db